:root {
  --main-color: #2196f3;
  --second-color: #212121;
  --third-color: #2f303a;
  --fourth-color: #ffffff;
  --main-font: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol,
address {
  list-style: none;
}

body {
  color: var(--second-color);
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  font-style: 400;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  text-decoration: none;
}

.container {
  width: 1167px;
  margin: 0 auto;
}

.header {
  padding: 32px 0;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--main-color);
}

.logo-span {
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.navigation__list a {
  color: var(--second-color);
}
.navigation__list a:hover,
.navigation__list a:focus {
  color: var(--main-color);
}

.navigation__list-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;
}

.address__list {
  display: flex;
}
.address__list-item a {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.address__list-item a:focus,
.address__list-item a:hover {
  color: var(--main-color);
}

.address__list-item:not(:last-child) {
  margin-right: 50px;
}

.section-cards {
  padding: 94px 0;
}

.cards__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.cards__list-item:not(:last-child) {
  margin-right: 8px;
}
.cards__list-item-btn {
  font-family: var(--main-font);
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--second-color);
}

.cards__list-item-btn:hover,
.cards__list-item-btn:focus {
  color: var(--fourth-color);
  background-color: var(--main-color);
}

.img__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-img {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  cursor: pointer;
}

.img__list-item:nth-child(3n) {
  margin-right: 30px;
}

.img__title {
  margin: 20px 24px 4px 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.img__subtitle {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 24px 20px 24px;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}

.logo-span-footer {
  color: var(--fourth-color);
}
.footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact:not(:last-child) {
  margin-bottom: 9px;
}
